.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .row {
        &:before, &:after {
            content: "";
            display: table;
            clear: both;
        }

        [class*='col-'] {
            float: left;
            min-height: 1px;
        }

        $gridCount: 12;

        @for $i from 1 through $gridCount {
            .col-#{$i}{
                width: 100% / $gridCount * $i;
            }
        }

        @media (max-width: 640px) {
            [class*='col-'] {
                float: none;
                width:100%;
            }
        }
    }
}

* {
    box-sizing: border-box;
    font-family: 'Macondo', cursive;
}

body {
    background-color: #405066;
}

#logo {
    background-color: #8DA7BE;
    height: 100px;
    margin-bottom: 1px;
}

#rightBox {
    height: 400px;
    background-color: #CDE6F5;
}

.menu {
    height: 94px;
    background-color: #707078;
    margin: 5px;
    border: 1px solid white;
    a {
        color:inherit;
        text-decoration: none;
    }
    p {
        text-align: center;
        padding-top: 8px;
        font-weight: 800;
        font-size: 26px;
        color: white;
        &:hover {
            color: #aeaeae;
            text-shadow: 2px 2px #d0d0d0;
        }
    }
}

#mainSection {
    height: 400px;
    background-color: #554640;
    p {
        color: white;
        padding: 15px;
    }
}

#footer {
    height: 100px;
    background-color: #87919E;
    margin-top: 1px;
}

#grumpy {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 20px;
}

h1 {
    color: white;
    float: left;
    margin-left: 100px;
    text-shadow: 2px 2px gray;
}