.grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .grid .row:before, .grid .row:after {
    content: "";
    display: table;
    clear: both; }
  .grid .row [class*='col-'] {
    float: left;
    min-height: 1px; }
  .grid .row .col-1 {
    width: 8.3333333333%; }
  .grid .row .col-2 {
    width: 16.6666666667%; }
  .grid .row .col-3 {
    width: 25%; }
  .grid .row .col-4 {
    width: 33.3333333333%; }
  .grid .row .col-5 {
    width: 41.6666666667%; }
  .grid .row .col-6 {
    width: 50%; }
  .grid .row .col-7 {
    width: 58.3333333333%; }
  .grid .row .col-8 {
    width: 66.6666666667%; }
  .grid .row .col-9 {
    width: 75%; }
  .grid .row .col-10 {
    width: 83.3333333333%; }
  .grid .row .col-11 {
    width: 91.6666666667%; }
  .grid .row .col-12 {
    width: 100%; }
  @media (max-width: 640px) {
    .grid .row [class*='col-'] {
      float: none;
      width: 100%; } }

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

#logo {
  background-image: url(https://static.pexels.com/photos/5836/yellow-metal-design-decoration.jpg);
  background-size: cover;
  height: 700px; }

.menu {
  height: 94px; }
  .menu a {
    text-decoration: none;
    color: #999;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s; }
  .menu a:after {
    content: "";
    display: block;
    padding: 10px 0 0 0;
    border-top: 2px solid #999;
    width: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s; }
  .menu a:hover {
    color: #000; }
  .menu a:hover:after {
    width: 100%;
    border-top: 4px solid #FEE700; }
  .menu p {
    text-align: center;
    padding-top: 8px;
    font-weight: 800;
    font-size: 26px; }

#mainSection {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #mainSection .boxRow {
    display: flex;
    margin-right: 15px; }
  #mainSection .arrows {
    width: 48px;
    height: 48px;
    border-color: white;
    top: 50%; }
  #mainSection .prev {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    left: 10px; }
  #mainSection .next {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(-135deg);
    right: 10px; }

#footer {
  height: 100px;
  background-color: #87919E;
  margin-top: 1px; }
  #footer p {
    float: right;
    color: white;
    padding-top: 63px;
    padding-right: 6px;
    font-size: 14px;
    font-style: italic; }

.slider {
  width: 400px;
  height: 200px; }
  .slider img {
    border: 1px solid black;
    width: 400px;
    height: 200px; }

#home {
  height: 800px; }

#aboutme {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #aboutme img {
    border: 1px solid gray; }

.mailTooltip {
  position: absolute;
  margin-left: 295px;
  margin-top: 40px;
  border: 2px solid gray;
  background-color: white;
  font-size: 24px; }

.loader {
  animation: loader 5s linear infinite;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px); }

@keyframes loader {
  0% {
    left: -100px; }
  100% {
    left: 110%; } }
#box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px; }

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px; }
  25% {
    transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px; }
  75% {
    transform: translateY(9px) rotate(67.5deg); }
  100% {
    transform: translateY(0) rotate(90deg); } }
#shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite; }

@keyframes shadow {
  50% {
    transform: scale(1.2, 1); } }

/*# sourceMappingURL=style.css.map */
